# environments & secrets
.env
*.key
*.pem
*.json
!backend/config/**/*.json
!frontend/**/*.json

# virtual environments
.venv/
venv/

# python cache
__pycache__/
pycache/
*.pyc

# node modules & build output
frontend/node_modules/
frontend/dist/

# local data & databases
/data/
*.db
*.sqlite
data/vector_store/
data/conversations/
data/synapse.db

# logs & os junk
*.log
.DS_Store
*.zip
